/*body*/
/*blog-navbar*/
/*blog-section-1*/
/*blog*/
@font-face
{
    font-family: 'SVN-Servetica-Medium';
    font-weight: normal;
    font-style: normal;

    src: url('https://rawgit.com/k7ae95/as5g/d001/fonts/SVN-Servetica-Medium.eot');
    src: local('SVN-Servetica-Medium'), /*local*/ url('https://rawgit.com/k7ae95/as5g/d001/fonts/SVN-Servetica-Medium.eot?#iefix') format('embedded-opentype'), /*embedded-opentype*/ url('https://rawgit.com/k7ae95/as5g/d001/fonts/SVN-Servetica-Medium.woff2') format('woff2'), /*woff2*/ url('https://rawgit.com/k7ae95/as5g/d001/fonts/SVN-Servetica-Medium.woff') format('woff'), /*woff*/ url('https://rawgit.com/k7ae95/as5g/d001/fonts/SVN-Servetica-Medium.ttf') format('truetype'), /*truetype*/ url('https://rawgit.com/k7ae95/as5g/d001/fonts/SVN-Servetica-Medium.svg#SVN-Servetica-Medium') format('svg');
    /*svg*/
}
@font-face
{
    font-family: 'Quicksand-Regular';
    font-weight: normal;
    font-style: normal;

    src: url('Quicksand-Regular.eot');
    src: local('Quicksand-Regular'), /*local*/ url('https://rawgit.com/k7ae95/as5g/d001/fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'), /*embedded-opentype*/ url('https://rawgit.com/k7ae95/as5g/d001/fonts/Quicksand-Regular.woff2') format('woff2'), /*woff2*/ url('https://rawgit.com/k7ae95/as5g/d001/fonts/Quicksand-Regular.woff') format('woff'), /*woff*/ url('https://rawgit.com/k7ae95/as5g/d001/fonts/Quicksand-Regular.ttf') format('truetype'), /*truetype*/ url('https://rawgit.com/k7ae95/as5g/d001/fonts/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    /*svg*/
}
html,
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.25;

    min-width: 360px;

    color: #333;
    background-color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#blog-navbar
{
    height: 73px;
    padding: 9px 0;

    border: none;
    border-bottom: solid 1px #ebebeb;
    background-color: rgba(255, 255, 255, .75);
}
#blog-navbar > .container
{
    position: relative;
}
#blog-navbar > .container > .blog-search
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 54px;

    text-align: center;
}
#blog-navbar > .container > .blog-search .blog-search-form
{
    position: relative;

    display: inline-block;

    width: 100%;
    max-width: 640px;
    height: 100%;
    padding-right: 44px;
}
#blog-navbar > .container > .blog-search .blog-search-form .search-input
{
    width: 100%;
    height: 36px;
    margin: 9px auto;
    padding: 9px;

    border: 2px solid rgba(51, 51, 51, .25);
    outline: none;
}
#blog-navbar > .container > .blog-search .blog-search-form .search-input:focus
{
    border-color: #333;
}
#blog-navbar > .container > .blog-search .blog-search-form .search-button
{
    line-height: 36px;

    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 36px;
    height: 36px;
    margin: 9px auto;
    padding: 0;

    color: #fff;
    border: none;
    background: #333;
}
#blog-navbar > .container > .blog-search .blog-search-form .search-button:hover
{
    cursor: pointer;
}
#blog-navbar > .container > .main-logo,
#blog-navbar > .container > .grid-button
{
    position: absolute;
    top: 0;

    padding: 0;
}
#blog-navbar > .container > .main-logo > img,
#blog-navbar > .container > .grid-button > img
{
    width: 54px;
    height: 54px;
}
#blog-navbar > .container > .main-logo
{
    left: 15px;
}
#blog-navbar > .container > .grid-button
{
    right: 15px;
}
#blog-section-1
{
    position: relative;

    height: 516px;

    background-color: #21ba45;
    background-image: url('https://rawgit.com/k7ae95/as5g/d001/img/background/1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
#blog-section-1 > .arrow
{
    position: absolute;
    bottom: 0;

    overflow: hidden;

    width: 100%;
    height: 36px;
}
#blog-section-1 > .arrow > svg
{
    position: absolute;
    top: 0;
    left: 50%;

    height: 100%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
#blog
{
    text-align: justify;
}
#blog .blog-index > .container > .blog-index-post
{
    position: relative;

    width: 100%;
    height: 360px;
    margin: 54px auto;
}
#blog .blog-index > .container > .blog-index-post:nth-of-type(odd) > .wrapper
{
    margin-left: -30px;
}
@media (min-width: 992px)
{
    #blog .blog-index > .container > .blog-index-post:nth-of-type(odd) > .wrapper > .content
    {
        padding-right: 330px;
    }
}
@media (min-width: 640px)
{
    #blog .blog-index > .container > .blog-index-post:nth-of-type(odd) > .thumbnail
    {
        right: 0;
    }
}
#blog .blog-index > .container > .blog-index-post:nth-of-type(even) > .wrapper
{
    margin-left: 30px;
}
@media (min-width: 992px)
{
    #blog .blog-index > .container > .blog-index-post:nth-of-type(even) > .wrapper > .timestamp
    {
        left: 330px;
    }
    #blog .blog-index > .container > .blog-index-post:nth-of-type(even) > .wrapper > .content
    {
        left: 447px;
    }
}
@media (min-width: 640px)
{
    #blog .blog-index > .container > .blog-index-post:nth-of-type(even) > .thumbnail
    {
        left: 0;
    }
}
#blog .blog-index > .container > .blog-index-post > .wrapper
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;

    width: 100%;
    height: 360px;

    -webkit-transition: all linear .25s;
         -o-transition: all linear .25s;
            transition: all linear .25s;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);

    background-color: rgba(255, 255, 255, .75);
    -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, .15);
            box-shadow: 0 0 1.5rem rgba(0, 0, 0, .15);
}
#blog .blog-index > .container > .blog-index-post > .wrapper > .timestamp,
#blog .blog-index > .container > .blog-index-post > .wrapper > .content
{
    position: absolute;
    top: 0;

    height: 100%;
}
#blog .blog-index > .container > .blog-index-post > .wrapper > .timestamp
{
    font-family: SVN-Servetica-Medium, 'Helvetica Neue', Helvetica, Arial, sans-serif;

    left: 0;

    width: 117px;
    padding: 9px;

    text-align: right;
}
#blog .blog-index > .container > .blog-index-post > .wrapper > .timestamp > .content
{
    display: none;
}
#blog .blog-index > .container > .blog-index-post > .wrapper > .timestamp > .day
{
    font-size: 54px;
    font-weight: bold;
    line-height: 1;
}
#blog .blog-index > .container > .blog-index-post > .wrapper > .timestamp .month-year > .month
{
    font-size: 22.5px;
    font-weight: bold;
}
#blog .blog-index > .container > .blog-index-post > .wrapper > .content
{
    left: 117px;

    padding: 9px;
}
#blog .blog-index > .container > .blog-index-post > .wrapper > .content > .title,
#blog .blog-index > .container > .blog-index-post > .wrapper > .content > .snippet
{
    overflow: hidden;

    text-align: left;
}
#blog .blog-index > .container > .blog-index-post > .wrapper > .content > .title
{
    font-family: SVN-Servetica-Medium, 'Helvetica Neue', Helvetica, Arial, sans-serif;

    display: block;

    height: 90px;

    color: #2185d0;
}
#blog .blog-index > .container > .blog-index-post > .wrapper > .content > .snippet
{
    height: 162px;
}
#blog .blog-index > .container > .blog-index-post > .wrapper > .content > .more
{
    position: absolute;
    bottom: 18px;
    left: 9px;

    display: block;

    width: 144px;
    padding: 4.5px;

    text-align: center;
    vertical-align: middle;

    color: #333;
    border: 2px solid #333;
}
#blog .blog-index > .container > .blog-index-post > .wrapper > .content > .more:hover
{
    text-decoration: none;

    color: #fff;
    background-color: #333;
}
@media (min-width: 640px)
{
    #blog .blog-index > .container > .blog-index-post > .wrapper
    {
        height: 300px;
    }
    #blog .blog-index > .container > .blog-index-post > .wrapper > .content > .title
    {
        font-size: 1.25rem;
    }
    #blog .blog-index > .container > .blog-index-post > .wrapper > .content > .snippet
    {
        height: 7rem;
    }
}
@media (min-width: 992px)
{
    #blog .blog-index > .container > .blog-index-post > .wrapper
    {
        z-index: auto;
    }
}
#blog .blog-index > .container > .blog-index-post > .thumbnail
{
    position: absolute;
    top: 0;
    left: 50%;

    width: 360px;
    height: 360px;
    margin-bottom: 0;
    padding: 0;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);

    border: none;
    border-radius: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
    -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, .25);
            box-shadow: 0 0 27px rgba(0, 0, 0, .25);
}
@media (min-width: 640px)
{
    #blog .blog-index > .container > .blog-index-post > .thumbnail
    {
        left: auto;

        -webkit-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
    }
}
@media (min-width: 992px)
{
    #blog .blog-index > .container > .blog-index-post > .thumbnail
    {
        z-index: auto;
        left: auto;
    }
}
#blog .blog-index > .container > .title
{
    font-family: Quicksand-Regular, Arial, sans-serif;
    font-size: 27px;

    text-align: center;
}
#blog .blog-index > .container > .title > .post
{
    font-size: 36px;
    font-weight: bold;
}
#blog .blog-index > .container > .title > .blog
{
    font-size: 54px;
    font-weight: bolder;

    color: #f2711c;
}
#blog .blog-index > .container > .nav-message
{
    position: relative;

    height: 128px;
    margin: 18px auto;

    text-align: center;
}
#blog .blog-index > .container > .nav-message > img
{
    display: inline-block;

    height: 128px;
}
#blog .blog-index > .container > .nav-message > .content
{
    font-size: 27px;
    font-weight: bold;

    display: inline-block;
}
#blog .blog-post > .summary
{
    font-size: 22.5px;

    margin-bottom: 36px;

    text-align: center;
}
#blog .blog-post > .summary > .title
{
    font-family: SVN-Servetica-Medium, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 18px;
}
#blog .blog-post > .summary > .author,
#blog .blog-post > .summary > .timestamp
{
    display: inline-block;
}
#blog .blog-post > .summary > .author
{
    font-size: 22.5px;
    font-weight: bold;

    color: #f2711c;
}
#blog .blog-post > .summary > .author > i
{
    color: #21ba45;
}
#blog .blog-post > .summary > .date-header
{
    font-family: SVN-Servetica-Medium, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 27px;
}
#blog .blog-post > .summary > .date-header > i
{
    color: #db2828;
}
#blog .blog-post > .body
{
    text-align: justify;
}
#blog .blog-post > .blog-comments
{
    margin: 72px auto;
}
#blog .blog-post > .blog-comments > .nav-tabs
{
    line-height: 1.25;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 0;
    padding: 0;

    border: none;
}
#blog .blog-post > .blog-comments > .nav-tabs > li
{
    width: 50%;
}
#blog .blog-post > .blog-comments > .nav-tabs > li > a
{
    margin: 0;

    text-align: center;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
}
#blog .blog-post > .blog-comments > .nav-tabs > li > .facebook
{
    color: #4267b2;
    border: 2px solid #4267b2;
}
#blog .blog-post > .blog-comments > .nav-tabs > li > .facebook:hover
{
    margin: 2px;

    color: #fff;
    border: none;
    background-color: #4267b2;
}
#blog .blog-post > .blog-comments > .nav-tabs > li > .blogger
{
    color: #ff5722;
    border: 2px solid #ff5722;
}
#blog .blog-post > .blog-comments > .nav-tabs > li > .blogger:hover
{
    margin: 2px;

    color: #fff;
    border: none;
    background-color: #ff5722;
}
#blog .blog-post > .blog-comments > .nav-tabs > li.active > .facebook
{
    color: #fff;
    background-color: #4267b2;
}
#blog .blog-post > .blog-comments > .nav-tabs > li.active > .facebook:hover
{
    margin: auto;

    border: 2px solid #4267b2;
}
#blog .blog-post > .blog-comments > .nav-tabs > li.active > .blogger
{
    color: #fff;
    background-color: #ff5722;
}
#blog .blog-post > .blog-comments > .nav-tabs > li.active > .blogger:hover
{
    margin: auto;

    border: 2px solid #ff5722;
}
#blog .blog-nextprev
{
    display: table;

    margin: 36px auto;

    border-spacing: 9px;
    border-collapse: separate;
}
#blog .blog-nextprev > .blog-next,
#blog .blog-nextprev > .blog-prev
{
    display: table-cell;

    width: 144px;
    padding: 4.5px;

    text-align: center;

    color: #333;
    border: 2px solid #333;
}
#blog .blog-nextprev > .blog-next:hover,
#blog .blog-nextprev > .blog-prev:hover
{
    text-decoration: none;

    color: #fff;
    background-color: #333;
}
