@import 'colors.less';
@import 'data.less';
@import 'fonts.less';

html,
body
{
    font-family: @default-font-family;
    font-size: @default-font-size;
    line-height: @default-line-height;

    min-width: @min-width-body;

    color: @black;
    background-color: @white;
}

@import 'blog-navbar/main-blog-navbar.less';

@import 'blog-section-1/main-blog-section-1.less';
