<b:includable id="blog-index-post" var="post">
   <div class="blog-index-post">
      <b:if cond="data:post.thumbnailUrl">
         <div class="thumbnail"
              expr:thumbnailUrl="data:post.thumbnailUrl"
              expr:style='"background-image: url(" + data:post.thumbnailUrl + ");"'>
         </div>
         <b:else />
         <div class="thumbnail no-image"
              style="background-image: url({{url.file}}/img/thumbnail/empty/default.svg)">
         </div>
      </b:if>

      <div class="wrapper">
         <div class="timestamp">
            <div class="content">
               <data:post.timestamp />
            </div>
            <div class="day">1</div>
            <div class="month-year">
               <span class="month">Jan</span>, <span class="year">2000</span> |
            </div>
         </div>

         <div class="content">
            <a class="title" expr:href="data:post.url">
               <data:post.title />
            </a>
            <div class="snippet">
               <b:if cond="data:post.snippet">
                  <data:post.snippet />
               </b:if>
            </div>

            <a class="more" expr:href="data:post.url">{{text.blogPostMore}}</a>
         </div>
      </div>
   </div>
</b:includable>