<div id='blog'>
   <b:section id='blog-content' class='blog-content'
              maxwidgets='1' showaddelements='no'>
      <b:widget id='Blog1'
                locked='true'
                title='{{text.blogTitle}}' 
                type='Blog'
                visible='true'>
      </b:widget>
   </b:section>
</div>