<div id='blog-navbar' class='navbar navbar-primary navbar-fixed-top'>
   <div class='container'>
      <b:section id='blogSearch'
                 class='blogSearch'
                 maxwidgets='1' showaddelement='no'>
         <b:widget id='BlogSearch1'
                   locked='true'
                   title='BlogSearch'
                   type='BlogSearch'
                   visible='true'>
            <b:includable id='main'>
               <!-- form search -->
               <form id='blog-search-form'
                     class='blog-search-form'
                     expr:action='data:blog.searchUrl'>
                  <input placeholder='Tìm kiếm...'
                         autocomplete='off'
                         class='search-input'
                         expr:value='data:view.isSearch ? data:view.search.query.escaped : &quot;&quot;'
                         name='q' size='10' title='search' type='text' />

                  <button class='search-button' type='submit'>
                     <i class='fa fa-search'></i>
                  </button>
               </form>
            </b:includable>
         </b:widget>
      </b:section>

      <a class='main-logo' expr:href='data:blog.homepageUrl'>
         <img src='{{url.file}}/img/logo/blogger/logo.svg' />
      </a>

      <a class='grid-button' href='javascript:void(0)'>
         <img src='{{url.file}}/img/other/grid-button.svg' />
      </a>
   </div>
</div>
